
.div-Dialog {
  display: flex;
  background-color: var(--color-dark-100)
}

.div-Dialog__div {
  display: flex;
  gap:40px;
  background-color: var(--color-dark-100)
}

body div.darkMode {
  .dataTable {
    user-select: none;

    .dataTableRowTest {
      background-color: var(--color-dark-700);
    }

    .dataTableRowTest:hover {
      background-color: var(--color-dark-100);
      transition: background-color 1.7s;
    }
  }
}


.p-datatable-thead > tr > th {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-dark-500);

}
