

/* reset */
button {
  all: unset;
}


.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height: 36px;
  padding: 0 10px;
  color: var(--color-light-100);
  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.SelectTrigger:hover {
  background-color: var(--color-dark-100);
}

.SelectTrigger:focus {
  border: 1px solid var(--color-info-100);
}

//.SelectTrigger[data-placeholder] {
//  color: var(--color-light-100);
//}
//
//.SelectIcon {
//  color: var(--color-light-100);
//}

.SelectContent {
  width: 210px;
  margin-top: 36px ;
  margin-left: 32px;

  //overflow: hidden;
  background-color: transparent;

  //border-radius: 6px;
  box-shadow: 0 10px 38px -10px var(--color-accent-100), 0 10px 20px -15px rgb(22 23 24 / 20%);
}

.SelectViewport {
  //margin: 5px;
}

.SelectItem {
  //user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 210px;
  height: 36px;

  //padding: 0 35px 0 25px;



  color: var(--color-light-100);

border: 1px solid var(--color-dark-300);


}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: transparent;
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: transparent;
  outline: none;
}

.SelectItem[data-highlighted]:hover {
  background-color: var(--color-accent-900);
}

.SelectItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.SelectScrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: violet;

  background-color: transparent;
}