/* reset */
button {
  all: unset;
}


.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height: 36px;
  padding: 0 10px;
  color: var(--color-light-100);
  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  box-sizing: border-box;
}

.SelectTrigger:hover {
  background-color: var(--color-dark-100);
}

.SelectTrigger:focus {
  border: 1px solid var(--color-info-100);
}

.SelectContent {
  width: 210px;
  overflow: hidden;
  background-color: transparent; //todo@ Erik - разберись с background
  box-shadow: 0 10px 38px -10px var(--color-accent-100), 0 10px 20px -15px rgb(22 23 24 / 20%);
}

.SelectItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 36px;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-300);
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: transparent;
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: transparent;
  outline: none;
}

.SelectItem[data-highlighted]:hover {
  background-color: var(--color-accent-900);
}
