.header-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.backDiv-Container {
  display: flex;
  padding: 10px;
}

.paginator {
  display: flex;
  gap:20px;
  align-items: center;
  justify-content: center;

  margin: 2em ;

  font-size: 1.4em;

}

.paginator button  {
  color: white!important;
  background-color: transparent !important;

}

.paginator span  {
  display: flex;
  gap: 20px
}