.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.backDiv-Container {
  display: flex;
  padding: 10px;
}


//.paginator span button:active  {
//  color: var(--color-accent-300); /* Цвет текста для выбранной страницы */
//  background-color: var(--color-accent-300); /* Цвет текста для выбранной страницы */
//  border-radius: 50%; /* Округлить выбранный элемент для наглядности */
//}