div {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  all: unset;
}

.CheckboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: 2px solid var(--color-light-900);
  border-radius: 5px;
}

.CheckboxRoot:hover {
  position: relative;
  background-color: transparent;
}

.CheckboxRoot:focus {
  position: relative;
}

.CheckboxRoot:hover::after {
  // добавлено для создания круглой тени
  content: '';

  position: absolute;
  inset: 12px;

  border-radius: 50%;
  box-shadow: 0 0 12px 12px var(--color-dark-500);
}

.CheckboxRoot:focus::after {
  // добавлено для создания круглой тени
  content: '';

  position: absolute;
  inset: 12px;

  border-radius: 50%;
  box-shadow: 0 0 12px 12px var(--color-dark-100);
}

.CheckboxIndicator {
  width: 24px;
  height: 24px;
}

.CheckboxIndicator:hover {
  //color: grey;
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: white;
}
