.cardContainerForgotPassword {
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;

  width: 420px;
  height: 456px;
}



.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  width: 348px;
  height: 398px;
  margin-top: 40px;
 

}

.header{
  margin-top: 20px;
}

.bodyContainer{
  display: flex;
  justify-content: center;
  text-align: center;
}

.bodyText{
  display: inline;
  color: var(--color-light-900);

}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 36px;

  //margin-top: 30px;

  //border-radius: 5px //
}

.rememberPasswordContainer {
  display: flex;
  justify-content: end;
}

.rememberPassword {
  cursor: pointer;
  display: inline;
  color: var(--color-light-700);

  &:hover {
    color: var(--color-light-900);
  }
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.loginIn {
  color: var(--color-accent-500);
  &:hover {color: var(--color-info-100);}

}