:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-xs: 12px; // 12:0.75rem соотношения по фигме
  --font-size-s: 14px; // 14:0.875rem
  --font-size-m: 16px; // 16:1rem
  --font-size-l: 18px; // 18:1.125rem
  --font-size-xl: 20px; // 20:1.25rem
  --font-size-xxl: 26px; // 26 :1.625rem

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
