.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  place-content: center center;
  align-items: center;

  width: 420px;
  height: 456px;

}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  width: 348px;
  height: 398px;
    margin-top: 80px;

}

.header{
  margin-bottom: 0;
  padding-bottom: 0;
}

.bodyContainer{
  display: flex;
  justify-content: center;
  text-align: center;
}

.body{
  display: inline;
  color: var(--color-light-900);
}

.bodyBr{

}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  margin-top: 30px;


}

.rememberPasswordContainer {
  display: flex;
  justify-content: end;
}

.checkButton {
  display: flex;
  align-items: center;
  justify-content: center;

width: 348px;

  //width: 150px;
  height: 36px;
  margin-top: 30px;

  &:hover {
    color: var(--color-light-900);
  }
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.loginIn {
  color: var(--color-accent-500);
  &:hover {color: var(--color-info-100);}

}