.divMainContainer {
  height: 400px;
  padding-right: 10px
}

.divMainContainer__dataTable{
  overflow: auto;
  height: 100%;
}

.paginator {
  display: flex;
  gap:20px;
  align-items: center;
  justify-content: center;

  margin: 2em ;

  font-size: 1.4em;

}

.paginator button  {
  color: white!important;
  background-color: transparent !important;
  
}

.paginator span  {
  display: flex;
  gap: 20px
}

::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скроллбара */
  height: 12px; /* Высота горизонтального скроллбара */
}

/* Стили для трека скроллбара */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона трека */
  border-radius: 10px; /* Скругление углов трека */
}

/* Стили для ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка */
  border-radius: 10px; /* Скругление углов ползунка */
}

/* Стили для ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

/* Стили для ползунка при активном состоянии */
::-webkit-scrollbar-thumb:active {
  background: #333; /* Цвет ползунка при активном состоянии */
}