.main-layout-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 1fr ;

  width: 100%;
  height: 100%;

  background-color: transparent;

  .main-layout-container__header{
    //height: 60px;
  }

  .main-layout-container__content{
    //height: calc(100% - 60px);
  }

}

