.cardContainer {
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;

  width: 420px;
  height: 528px;

}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;


  height: 36px;
  margin: 0 auto;

  //border-radius: 5px
}

.forgotPasswordContainer {
  display: flex;
  justify-content: end;
}

.forgotPassword {
  cursor: pointer;
  display: inline;
  color: var(--color-light-700);

  &:hover {
    color: var(--color-light-100);
  }
}

.signUpContainer {
  display: flex;
  justify-content: center;
}

.signUp {
  color: var(--color-accent-500);
  &:hover {color: var(--color-info-100);}

}