.divMainContainer {
  height: 400px;
  padding-right: 10px
}

.divMainContainer__dataTable{
  overflow: auto;
  height: 100%;
}

.divMainContainer__dataTable__div{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}






