.divMainContainer {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.divMainContainer__dataTable {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.divMainContainer__dataTable__div{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}






