.dialog-root-container {
  display: flex;
  gap: 10px;

  width: 700px;
  height: 300px;
  padding: 0.5rem;

  background-color: var(--color-dark-100);
}

svg.p-icon {
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}