


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%; // Adjust based on your design
  height: 56px; // Adjust based on your design
  padding: 0 10vw;

  background-color:  var(--color-dark-700) ; // Assuming a dark background
  box-shadow: 0 20px 20px var(--color-dark-500);
}

.AppHeader_divWrapper {
  display: flex;
  gap: 20px;
  align-items: center;

}

.avatarWrapper {
 display: flex;
  gap: 4px;
  align-items: center;

  }

.button {

  }

.AvatarContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}