.div-container_deckUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer_deckUpdate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;


}

.textField {
  color: var(--color-light-300);

}