.cardContainerCreateNewPassword {
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;

  width: 420px;
  height: 384px;
  padding: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  width: 348px;
  height: 291px;
  margin-top: 40px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 36px;
  margin: 0 auto;

  //border-radius: 5px
}

.newPasswordText {
  display: inline;

  margin-bottom: 30px;
  padding-left: 30px; // почему не центрируется без  ручных 30px

  color: var(--color-light-900);
  text-align: center;
}
